<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
	<h1><%= t('menu_group') %></h1>
	<h2><%= t('title_groupdashboards_list') %>:<%= @group.title %></h2>
	<p><%= t('message_groupdashboards')%></p>
<%= form_tag('/admin/groupdashboards') do |f| %>
<table class="coder">
  <thead>
    <tr>
      <th><%= t('title_rank') %></th>
      <th><%= t('title_graph') %></th>
    </tr>
  </thead>

  <tbody>
  	<%= hidden_field_tag :groupid,@group.id %>
    <% @graph.each do |g| %>
      <tr>
        <td><%= text_field_tag 'viewrank[]',{:value => @ghash[g.id],:size=>1} %></td>
        <td><%= g.title %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<br />
<p><%= submit_tag t('title_select')%></p>
<% end %>
<br />

<%= link_to t('title_back'), admin_groups_path %>

</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>