<%= render 'admin/common/header' %>
<div id="admin_login">
<%= form_tag :controller => 'login', :action => 'create' do -%>
<table>
<tbody>
	<tr><td colspan="2"><h2 id="login_title"><%= t('adminlogin') %></h2></td></tr>
	<tr>
		<th><%= label_tag :name, t('name') %></th>
		<td><%= text_field_tag :name, params[:name] %></td>
	</tr>
	<tr>
		<th><%= label_tag :pass, t('password') %></th>
		<td><%= password_field_tag :pass , params[:pass]%></td>
	</tr>
	<tr><td colspan="2"><div id="login_action"><%= submit_tag t('login') %></div></td></tr>
</tbody>
</table>
<% end %>
</div>
<%= render 'admin/common/footer' %>
