<%= render 'common/header' %>
<%= render 'common/sidebar' %>
<!-- main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= @graph.title %>:<%= @term_s %>(<%= @h_analysis_types[@graph.analysis_type] %>)</h1>
	<br />
	<div id="term_button">
		<% if @graph_term == 0 then %>
			<a href="<%= graph_path(@graph.id)%>?term=0" class="term_button_select term_button"><%= t('lbl_day') %></a>
		<% else %>
			<a href="<%= graph_path(@graph.id)%>?term=0" class="term_button"><%= t('lbl_day') %></a>
		<% end %>
		<% if @graph_term == 1 then %>
			<a href="<%= graph_path(@graph.id)%>?term=1" class="term_button_select term_button"><%= t('lbl_week') %></a>
		<% else %>
			<a href="<%= graph_path(@graph.id)%>?term=1" class="term_button"><%= t('lbl_week') %></a>
		<% end %>
		<% if @graph_term == 2 then %>
			<a href="<%= graph_path(@graph.id)%>?term=2" class="term_button_select term_button"><%= t('lbl_month') %></a>
		<% else %>
			<a href="<%= graph_path(@graph.id)%>?term=2" class="term_button"><%= t('lbl_month') %></a>
		<% end %>
		<% if @graph_term == 3 then %>
			<a href="<%= graph_path(@graph.id)%>?term=3" class="term_button_select term_button"><%= t('lbl_year') %></a>
		<% else %>
			<a href="<%= graph_path(@graph.id)%>?term=3" class="term_button"><%= t('lbl_year') %></a>
		<% end %>
		<% if @csvflg then %>
			<a href="<%= graph_path(@graph.id)%>/csvexport?start=<%= @oldday_s %>&end=<%= @today_s %>" class="csv_btn">csv</a>
		<% end %>
	</div>

	<canvas id="<%= @graph.name %>"></canvas>
	<br />
	<script>
	var chartdata = {
	  "config": {
	  	"width": 720,
	  	"height": 480,
	  	<% if @graph.usetip == 1 then %>
	    "useMarker": "<%= $settings['useMarker'] %>",
	    "markerWidth": <%= $settings['markerWidth'] %>,
	    <% end %>
	    "type": "<%= @graph_types[@graph.graph_type] %>",
	    "useVal": "<%= @h_yesno[@graph.useval] %>",
	    "useShadow": "<%= @h_yesno[@graph.useshadow] %>",
	    "lineWidth": <%= @graph.linewidth %>,
	    "colorSet": 
	          ["<%= @template.linecolor %>"],
	    "bgGradient": {
	            "direction":"vertical",
	            "from":"<%= @template.bgfrom %>",
	            "to":"<%= @template.bgto %>"
	         },
	    "textColor": "<%= @template.textcolor %>",
	    "minY":<%= @graph.y_min %>,
	    <% if @graph_term == 0 then %>
	    	"maxY":<%= @graph.y_max_time.to_i %>
	    <% elsif @graph_term == 1 || @graph_term == 2 then %>
	    	"maxY":<%= @graph.y_max_day.to_i %>
	    <% else %>
	    	"maxY":<%= @graph.y_max_month.to_i %>
	    <% end %>
	  },
	
	  "data": [
	    ["<%= @graphx %>"<%= @xdata %>],
	    ["<%= @graph.y %>"<%= @ydata %>]
	  ]
	};
	ccchart.init('<%= @graph.name %>', chartdata)
	</script>

	<div id="term_button">
		<a href="<%= graph_path(@graph.id)%>?term=<%= @graph_term %>&add=<%= @add.to_i - 1 %>" class="term_button"><%= t('button_back') %></a>
		<a href="<%= graph_path(@graph.id)%>?term=<%= @graph_term %>&add=<%= @add.to_i + 1 %>" class="term_button"><%= t('button_prev') %></a>
	</div>
	

</div>
</div><!-- main content end -->
<%= render 'common/footer' %>