<%= render 'common/header' %>
<%= render 'common/sidebar' %>
<!-- main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= @graph.title %></h1>
	<h2><%= @h_terms[@graph_term] %>:<%= @term %></h2>
	<div id="term_button">
		<a href="/graphs/<%= @graph.id %>?term=<%= @graph_term %>&add=<%= @add.to_i - 1 %>" class="term_button"><%= t('button_back') %></a>
		<a href="/graphs/<%= @graph.id %>?term=<%= @graph_term %>&add=<%= @add.to_i + 1 %>" class="term_button"><%= t('button_prev') %></a>
		<a href="/graphs/<%= @graph.id %>/csvexport?start=<%= @oldday_s %>&end=<%= @today_s %>" class="csv_btn">csv</a>
	</div>
	<canvas id="<%= @graph.name %>"></canvas>
	<br />
	<script>
	var chartdata = {
	
	  "config": {
	  	"width": <%= @h_graphsize_width[@gconf['graphsize'].to_i] %>,
	  	"height": <%= @h_graphsize_height[@gconf['graphsize'].to_i] %>,
	  	/*"onlyChart":"yes",*/
	    /*"title": "title",*/
	    /*"subTitle": "subTitle",*/
	    "type": "<%= @graph_types[@graph.graph_type] %>",
	    "useVal": "<%= @h_yesno[@graph.useval] %>",
	    "useShadow": "<%= @h_yesno[@template.useshadow] %>",
	    "lineWidth": <%= @graph.linewidth %>,
	    "colorSet": 
	          ["<%= @template.linecolor %>","#FF9114","#3CB000","#00A8A2","#0036C0","#C328FF","#FF34C0"],
	    "bgGradient": {
	            "direction":"vertical",
	            "from":"<%= @template.bgfrom %>",
	            "to":"<%= @template.bgto %>"
	         },
	    "textColor": "<%= @template.textcolor %>"
	  },
	
	  "data": [
	    ["<%= @graph.x %>"<%= @xdata %>],
	    ["<%= @graph.y %>"<%= @ydata %>]
	  ]
	};
	ccchart.init('<%= @graph.name %>', chartdata)
	</script>

	
	<div id="term_button">
		<a href="/graphs/<%= @graph.id %>?term=0" class="term_button"><%= t('button_day') %></a>
		<a href="/graphs/<%= @graph.id %>?term=1" class="term_button"><%= t('button_week') %></a>
		<a href="/graphs/<%= @graph.id %>?term=2" class="term_button"><%= t('button_month') %></a>
		<a href="/graphs/<%= @graph.id %>?term=3" class="term_button"><%= t('button_year') %></a>
	</div>
	

</div>
</div><!-- main content end -->
<%= render 'common/footer' %>