<%= render 'common/header' %>
<%= render 'common/sidebar' %>
<!-- main content start -->

<div id="content">
<div id="sub_content">
	<h1>
		<% if @graph.graph_type == 0  %>
			<i class="icon-picture"></i>
		<% else %>
			<i class="icon-bar-chart"></i>
		<% end %>
		&nbsp;<%= @graph.title %>
	</h1>
</div>
<div id="search">
	<h2><%= Graph::SETTINGS[:h_analysis_types][@graph.analysis_type] %><%= t('title_graph_term') %>:<%= @term_s %></h2>
	<div class="search_form">
		<%= form_tag(setday_graph_path) do %>
		<%= hidden_field_tag(:term,@graph_term) %>
		<%= hidden_field_tag(:add,@add) %>
		<%= hidden_field_tag(:today,@todaydata) %>
		<span>
		<input type="text" id="cal1" name="cal1" class="cal1" />
		<img alt="cal_btn" class="calendar-trigger" id="cal1_trigger_" src="<%= path_to_image 'calender_btn.jpg' %>">
		</span>
		<%= submit_tag t('title_search'),:class=>'button' %>
	<% end %>
	</div>
	<div id="term_button" class="carent_btn">
		<a href="<%= graph_path(@graph.id)%>?term=<%= @graph_term %>&add=<%= @add.to_i - 1 %>&today=<%= @todaydata %>" class="term_button caret-left"><i class="icon-caret-left"></i></a>
		<a href="<%= graph_path(@graph.id)%>?term=<%= @graph_term %>&add=<%= @add.to_i + 1 %>&today=<%= @todaydata %>" class="term_button caret-right"><i class="icon-caret-right"></i></a>
	</div>
</div>
<div id="term_button" class="data_btn">
	<a href="<%= graph_path(@graph.id)%>?term=0&today=<%= @todaydata %>" class="term_button <% if @graph_term == 0  %>select<% end %>"><%= t('lbl_day') %></a>
	<a href="<%= graph_path(@graph.id)%>?term=1&today=<%= @todaydata %>" class="term_button <% if @graph_term == 1  %>select<% end %>"><%= t('lbl_week') %></a>
	<a href="<%= graph_path(@graph.id)%>?term=2&today=<%= @todaydata %>" class="term_button <% if @graph_term == 2  %>select<% end %>"><%= t('lbl_month') %></a>
	<a href="<%= graph_path(@graph.id)%>?term=3&today=<%= @todaydata %>" class="term_button <% if @graph_term == 3  %>select<% end %>"><%= t('lbl_year') %></a>
	<% if @csvflg  %>
	<a href="<%= graph_path(@graph.id)%>/csvexport?start=<%= @oldday_s %>&end=<%= @today_s %>" class="csv_btn"><i class="icon-download-alt"></i>&nbsp;csv</a>
	<% else %>
	<a href="javascript:void(0);" class="csv_btn disable"><i class="icon-download-alt"></i>&nbsp;csv</a>
	<% end %>
</div>
<div id="graph">
	<canvas id="<%= @graph.name %>"></canvas>
</div>
<script>
var chartdata = {
  "config": {
  	"width": <%= $settings['graph_width'] %>,
  	"height": <%= $settings['graph_height'] %>,
  	<% if @graph.usetip == 1  %>
    "useMarker": "<%= $settings['useMarker'] %>",
    "markerWidth": <%= $settings['markerWidth'] %>,
    <% end %>
    "type": "<%= Graph::TYPE[@graph.graph_type] %>",
    "useVal": "<%= Graph::YESNO[@graph.useval] %>",
    "useShadow": "<%= Graph::YESNO[@graph.useshadow] %>",
    "lineWidth": <%= @graph.linewidth %>,
    "unit":"<%= @graph.y_unit %>",
    "colorSet": 
    	<% if @graph.usepredata == 1 && @graph.uselastyeardata == 1 && @graph_term < 3 %>
          ["<%= @template.linecolor_pre %>","<%= @template.linecolor_last %>","<%= @template.linecolor %>"],
          <% elsif @graph.usepredata == 1 && @graph.uselastyeardata == 1 && @graph_term == 3 %>
          ["<%= @template.linecolor_pre %>","<%= @template.linecolor %>"],
          <% elsif @graph.usepredata == 1 && @graph.uselastyeardata == 0 %>
          ["<%= @template.linecolor_pre %>","<%= @template.linecolor %>"],
          <% elsif @graph.usepredata == 0 && @graph.uselastyeardata == 1 %>
          ["<%= @template.uselastyeardata %>","<%= @template.linecolor %>"],
          <% else %>
          ["<%= @template.linecolor %>"],
          <% end %>
    "bgGradient": {
            "direction":"vertical",
            "from":"<%= @template.bgfrom %>",
            "to":"<%= @template.bgto %>"
         },
    "textColor": "<%= @template.textcolor %>",
    "minY":<%= @graph.y_min %>,
    <% if @graph_term == 0  %>
    	"maxY":<%= @graph.y_max_time.to_i %>
    <% elsif @graph_term == 1 || @graph_term == 2  %>
    	"maxY":<%= @graph.y_max_day.to_i %>
    <% else %>
    	"maxY":<%= @graph.y_max_month.to_i %>
    <% end %>
  },

  "data": [
    ["<%= @graphx %>"<%= @xdata %>]
    <% if @graph.usepredata == 1  %>
    ,["<%= t('title_pre') %><%= Graph::SETTINGS[:h_terms][@graph_term] %>"<%= @ydata_pre %>]
    <% end %>
    <% if @graph_term < 3 && @graph.uselastyeardata == 1  %>
    ,["<%= t('title_last') %>"<%= @ydata_last %>]
    <% end %>
    ,["<%= @graph.y %>"<%= @ydata %>]
  ]
};
ccchart.init('<%= @graph.name %>', chartdata);

<% if @graph.merge_graph != nil && @graph.merge_graph != "" %>
<!-- マージグラフ表示用 -->
	var m_chartdata = $.extend(true, {}, chartdata);
	m_chartdata.config.type = "<%= Graph::TYPE[@m_graph.graph_type] %>";
	m_chartdata.config.minY = <%= @m_graph.y_min %>;
	<% if @graph_term == 0  %>
		m_chartdata.config.maxY=<%= @m_graph.y_max_time.to_i %>;
	<% elsif @graph_term == 1 || @graph_term == 2  %>
		m_chartdata.config.maxY=<%= @m_graph.y_max_day.to_i %>;
	<% else %>
		m_chartdata.config.maxY=<%= @m_graph.y_max_month.to_i %>;
	<% end %>
	m_chartdata.config.colorSet = ["<%= @graph.merge_linecolor %>"];
	m_chartdata.config.unit = "<%= @m_graph.y_unit %>";
	m_chartdata.data = [["<%= @graphx %>"<%= @m_xdata %>],["<%= @m_graph.y %>"<%= @m_ydata %>]];
	ccchart.add(m_chartdata);
<% end %>

Calendar.setup({inputField : 'cal1', ifFormat : '%Y-%m-%d', button : 'cal1_trigger_' });
</script>

</div><!-- main content end -->
<%= render 'common/footer' %>