<!-- administrator header start -->
<div id="header_admin">
	<div id="logo">
		<h1><%= link_to(admin_root_path) do %><%= $settings['title'] %>&nbsp;<%= t('adminview') %><% end %></h1>
	</div>
	<% if admin_current_user != nil %>
	<div id="header_contents">
	 <ul>
	  <li class="user"><i class="icon-user"></i>&nbsp;<%= admin_current_user.title %></li>
	  <li class="logout">
	  	<%= link_to(admin_login_path(admin_current_user.id), :data =>{:confirm => t('logout_message')}, :method => :delete) do %>
	  	<i class="icon-lock"></i>&nbsp;<%= t('logout') %>
	  	<% end %>
	  </li>
	  </ul>
	</div>
	<% end %>
</div>
<!-- administrator header end -->
<!-- administrator wrapper start -->
<% if admin_current_user != nil %>
<div id="wrapper">
<% else %>
<div id="wrapper" class="login">
<% end %>