<!-- administrator navigation start -->
<div id="admin_navigation">
	<ul class="cds-navi">
		<li><a href="/admin"><%= t('title_home') %></a></li>
		<li><a href="/admin/users"><%= t('menu_user')%></a></li>
		<li><a href="/admin/groups"><%= t('menu_group')%></a></li>
		<li><a href="/admin/graphs"><%= t('menu_graph')%></a></li>
		<li><a href="/admin/settings"><%= t('menu_setting')%></a></li>
	</ul>
</div>
<!-- administrator navigation end -->
