<%= form_for(@admin_graph) do |f| %>
  <% if @admin_graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_graph.errors.count, "error") %> <%= t('error_graph_message') %></h2>

      <ul>
      <% @admin_graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= @admin_graph.name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :analysis_type %><br>
    <%= f.select :analysis_type,@h_analysis_types.keys.map{|t| [@h_analysis_types[t], t]} %>
  </div>
  
  <div class="field">
    <%= f.label :graph_type %><br>
    <%= f.select :graph_type,@h_graph_types.keys.map{|t| [@h_graph_types[t], t]} %>
  </div>
  
  <div class="field">
    <%= f.label :term %><br>
    <%= f.select :term,@h_terms.keys.map{|t| [@h_terms[t], t]} %>
  </div>
  <div class="field">
    <%= f.label :y %><br>
    <%= f.text_field :y %>
  </div>
  <div class="field">
    <%= f.label :y_min %><br>
    <%= f.text_field :y_min %>
  </div>
  <div class="field">
    <%= f.label :y_max %><br>
    <%= f.text_field :y_max %>
  </div>
   <div class="field">
    <%= f.label :useval %><br>
    <%= f.select :useval,@h_yesno.keys.map{|t| [@h_yesno[t], t]} %>
  </div>
   <div class="field">
    <%= f.label :linewidth %><br>
    <%= f.number_field :linewidth %>
  </div>
   <div class="field">
    <%= f.label :template %><br>
    <%= f.select :template,@h_template.keys.map{|t| [@h_template[t], t]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
