<div id="setting">
<%= form_for(@admin_graph) do |f| %>
  <% if @admin_graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_graph.errors.count, "error") %> <%= t('error_graph_message') %></h2>

      <ul>
      <% @admin_graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if @newflg %>
<h3><%= t('message_graph_new') %></h3>
<% end %>
  <div class="field">
    <%= f.label :name %><br>
    <% if @newflg %>
    	<%= f.text_field :name %>
    	<br /><%= t('message_graph_name') %>
    <% else %>
    	<%= @admin_graph.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :analysis_type %><br>
    <%= f.select :analysis_type,@graph_settings[:h_analysis_types].keys.map{|t| [@graph_settings[:h_analysis_types][t], t]} %>
  </div>
  
  <div class="field">
    <%= f.label :graph_type %><br>
    <%= f.select :graph_type,@graph_settings[:h_graph_types].keys.map{|t| [@graph_settings[:h_graph_types][t], t]} %>
  </div>
  
  <div class="field">
    <%= f.label :term %><br>
    <%= f.select :term,@graph_settings[:h_terms].keys.map{|t| [@graph_settings[:h_terms][t], t]} %>
  </div>
  <div class="field">
    <%= f.label :y %><br>
    <%= f.text_field :y %>
  </div>
  <div class="field">
    <%= f.label :y_min %><br>
    <%= f.text_field :y_min %>
  </div>
  <div class="field">
    <%= f.label :y_max_time %><br>
    <%= f.text_field :y_max_time %>
  </div>
  <div class="field">
    <%= f.label :y_max_day %><br>
    <%= f.text_field :y_max_day %>
  </div>
  <div class="field">
    <%= f.label :y_max_month %><br>
    <%= f.text_field :y_max_month %>
  </div>
  <div class="field">
    <%= f.label :y_unit %><br>
    <%= f.text_field :y_unit %>
  </div>
   <div class="field">
    <%= f.label :useval %><br>
    <%= f.select :useval,@graph_settings[:h_yesno].keys.map{|t| [@graph_settings[:h_yesno][t], t]} %>
  </div>
  <div class="field">
    <%= f.label :useshadow %><br>
    <%= f.select :useshadow,@graph_settings[:h_yesno].keys.map{|t| [@graph_settings[:h_yesno][t], t]} %>
  </div>
  <div class="field">
    <%= f.label :usetip %><br>
    <%= f.select :usetip,@graph_settings[:h_yesno].keys.map{|t| [@graph_settings[:h_yesno][t], t]} %>
  </div>
  <div class="field">
    <%= f.label :usepredata %><br>
    <%= f.select :usepredata,@graph_settings[:h_yesno].keys.map{|t| [@graph_settings[:h_yesno][t], t]} %>
  </div>
  <div class="field">
    <%= f.label :uselastyeardata %><br>
    <%= f.select :uselastyeardata,@graph_settings[:h_yesno].keys.map{|t| [@graph_settings[:h_yesno][t], t]} %>
  </div>
   <div class="field">
    <%= f.label :linewidth %><br>
    <%= f.number_field :linewidth %>
  </div>
   <div class="field">
    <%= f.label :template %><br>
    <%= f.select :template,@h_template.keys.map{|t| [@h_template[t], t]} %>
  </div>
  <% if Admin::Graph.get_use_merge_graph %>
  <div class="field">
    <%= f.label :merge_graph %><br>
    <%= f.text_field :merge_graph %>
  </div>
  <div class="field">
    <%= f.label :merge_linecolor %><br>
    <%= f.text_field :merge_linecolor %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit t('helpers.submit.update'),:class=>"button_admin" %>
  </div>
<% end %>
</div>
