<%= form_for(@admin_graph) do |f| %>
  <% if @admin_graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_graph.errors.count, "error") %> <%= t('error_graph_message') %></h2>

      <ul>
      <% @admin_graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :gtype %><br>
    <%= f.select :gtype,{"折線" => 1,"縦棒" => 2} %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.select :term,{"日" => 1 ,"週" => 2 ,"月" => 3 ,"年" => 4} %>
  </div>
  <div class="field">
    <%= f.label :x %><br>
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br>
    <%= f.text_field :y %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
