<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= t('menu_graph') %></h1>
</div>
<table class="coder">
  <thead>
    <tr>
      <th><%= t('title_graph_name') %></th>
      <th><%= t('title_graph_title') %></th>
      <th><%= t('title_graph_analysis_type') %></th>
      <th><%= t('title_graph_graph_type') %></th>
      <th><%= t('title_graph_term') %></th>
      <th><%= t('title_graph_y') %></th>
      <!--
      <th><%= t('title_graph_y_min') %></th>
      <th><%= t('title_graph_y_max_time') %></th>
      <th><%= t('title_graph_y_max_day') %></th>
      <th><%= t('title_graph_y_max_month') %></th>
      <th><%= t('title_graph_useval') %></th>
      <th><%= t('title_graph_useshadow') %></th>
      <th><%= t('title_graph_usetip') %></th>
      <th><%= t('title_graph_usepredata') %></th>
      <th><%= t('title_graph_uselastyeardata') %></th>
      <th><%= t('title_graph_linewidth') %></th>-->
      <th><%= t('title_graph_template') %></th>
      <th><%= t('title_graph_merge_graph') %></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_graphs.each do |admin_graph| %>
      <tr>
        <td><%= link_to admin_graph.name, edit_admin_graph_path(admin_graph) %></td>
        <td><%= admin_graph.title %></td>
        <td><%= @h_analysis_types[admin_graph.analysis_type] %></td>
        <td><%= @h_graph_types[admin_graph.graph_type] %></td>
        <td><%= @h_terms[admin_graph.term] %></td>
        <td><%= admin_graph.y %></td>
        <!--
        <td><%= admin_graph.y_min %></td>
        <td><%= admin_graph.y_max_time %></td>
        <td><%= admin_graph.y_max_day %></td>
        <td><%= admin_graph.y_max_month %></td>
        <td><%= @h_yesno[admin_graph.useval] %></td>
        <td><%= @h_yesno[admin_graph.useshadow] %></td>
        <td><%= @h_yesno[admin_graph.usetip] %></td>
        <td><%= @h_yesno[admin_graph.usepredata] %></td>
        <td><%= @h_yesno[admin_graph.uselastyeardata] %></td>
        <td><%= admin_graph.linewidth %></td>-->
        <td><%= @h_template[admin_graph.template] %></td>
        <td><%= admin_graph.merge_graph %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<br />

</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>