<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
<h1>Listing admin_graphs</h1>

<table class="coder">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>GType</th>
      <th>Term</th>
      <th>X</th>
      <th>Y</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_graphs.each do |admin_graph| %>
      <tr>
        <td><%= admin_graph.name %></td>
        <td><%= admin_graph.title %></td>
        <td><%= admin_graph.gtype %></td>
        <td><%= admin_graph.term %></td>
        <td><%= admin_graph.x %></td>
        <td><%= admin_graph.y %></td>
        <td><%= link_to 'Show', admin_graph %></td>
        <td><%= link_to 'Edit', edit_admin_graph_path(admin_graph) %></td>
        <td><%= link_to 'Destroy', admin_graph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graph', new_admin_graph_path %>

</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>