<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= t('menu_graph') %>&nbsp;-&nbsp;<%= t('title_show') %></h1>
</div>
<div id="setting">
<p>
  <strong><%= t('title_graph_name') %></strong>
  <%= @admin_graph.name %>
</p>

<p>
  <strong><%= t('title_graph_title') %></strong>
  <%= @admin_graph.title %>
</p>

<p>
  <strong><%= t('title_graph_analysis_type') %></strong>
  <%= @graph_settings[:h_analysis_types][@admin_graph.analysis_type] %>
</p>

<p>
  <strong><%= t('title_graph_graph_type') %></strong>
  <%= @graph_settings[:h_graph_types][@admin_graph.graph_type] %>
</p>

<p>
  <strong><%= t('title_graph_term') %></strong>
  <%= @graph_settings[:h_terms][@admin_graph.term] %>
</p>

<p>
  <strong><%= t('title_graph_y') %></strong>
  <%= @admin_graph.y %>
</p>
<p>
  <strong><%= t('title_graph_y_min') %></strong>
  <%= @admin_graph.y_min %>
</p>
<p>
  <strong><%= t('title_graph_y_max_time') %></strong>
  <%= @admin_graph.y_max_time %>
</p>
<p>
  <strong><%= t('title_graph_y_max_day') %></strong>
  <%= @admin_graph.y_max_day %>
</p>
<p>
  <strong><%= t('title_graph_y_max_month') %></strong>
  <%= @admin_graph.y_max_month %>
</p>
<p>
  <strong><%= t('title_graph_unit') %></strong>
  <%= @admin_graph.y_unit %>
</p>
<p>
  <strong><%= t('title_graph_useval') %></strong>
  <%= @graph_settings[:h_yesno][@admin_graph.useval] %>
</p>
<p>
  <strong><%= t('title_graph_useshadow') %></strong>
  <%= @graph_settings[:h_yesno][@admin_graph.useshadow] %>
</p>
<p>
  <strong><%= t('title_graph_usetip') %></strong>
  <%= @graph_settings[:h_yesno][@admin_graph.usetip] %>
</p>
<p>
  <strong><%= t('title_graph_usepredata') %></strong>
  <%= @graph_settings[:h_yesno][@admin_graph.usepredata] %>
</p>
<p>
  <strong><%= t('title_graph_uselastyeardata') %></strong>
  <%= @graph_settings[:h_yesno][@admin_graph.uselastyeardata] %>
</p>
<p>
  <strong><%= t('title_graph_linewidth') %></strong>
  <%= @admin_graph.linewidth %>
</p>

<p>
  <strong><%= t('title_graph_template') %></strong>
  <%= @h_template[@admin_graph.template] %>
</p>
<% if Admin::Graph.get_use_merge_graph %>
<p>
  <strong><%= t('title_graph_merge_graph') %></strong>
  <%= @admin_graph.merge_graph %>
</p>
<p>
  <strong><%= t('title_graph_merge_linecolor') %></strong>
  <%= @admin_graph.merge_linecolor %>
</p>
<% end %>
<br /><br />
<%= link_to t('title_back'), admin_graphs_path,:class=>"button_link" %>
<%= link_to t('title_edit'), edit_admin_graph_path(@admin_graph),:class=>"button_link" %> 

</div>
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>
