<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="admin_content">
<div id="admin_sub_content">
	<h1><%= Time.now().strftime('%Y/%m/%d %X') %></h1>
	<div id="dashboards">
<% index=0%>
<% @graphs.each do |graph| %>
    <div id="dashboard">
    	<h2><%= graph.title %></h2>
		<a href="<%= admin_graph_path(graph.id) %>"><canvas id="<%= graph.name %>"></canvas></a>
	</div>
	
	<script>
	var chartdata = {
	
	  "config": {
	  	"width": 300,
	  	"height": 200,
	  	"onlyChart":"yes",
	    /*"title": "title",*/
	    /*"subTitle": "subTitle",*/
	    "type": "<%= @graph_types[graph.graph_type] %>",
	    "useVal": "<%= @h_yesno[graph.useval] %>",
	    "useShadow": "<%= @h_yesno[graph.useshadow] %>",
	    "lineWidth": <%= graph.linewidth %>,
	    "colorSet": 
	          ["<%= @template[index].linecolor %>"],
	    "bgGradient": {
	            "direction":"vertical",
	            "from":"<%= @template[index].bgfrom %>",
	            "to":"<%= @template[index].bgto %>"
	         },
	    "textColor": "<%= @template[index].textcolor %>",
	    "useFirstToColName":false,
	    "useFirstToRowName":false,
	    "minY":0
	  },
	
	  "data": [
	    [<%= @xdatas[index] %>],
	    [<%= @ydatas[index] %>]
	  ]
	};
	ccchart.init('<%= graph.name %>', chartdata)
	</script>
	<% if (index + 1)%@gconf['dashboardnum'].to_i == 0 then %>
	<div class="space"></div>
	<% end %>
	<% index += 1 %>
<% end %>
</div>

</div>
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>