<%= form_for(@admin_setting) do |f| %>
  <% if @admin_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_setting.errors.count, "error") %> <%= t('error_setting_message') %></h2>

      <ul>
      <% @admin_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= t('title_setting_name') %><br>
    <%= @admin_setting.title %>
  </div>
  <div class="field">
    <%= f.label :parameter %><br>
    <% if @admin_setting.columntype == 2 %>
        <%= f.select :parameter,@select_yes_no.keys.map{|t| [t,@select_yes_no[t]]} %>
    <% elsif @admin_setting.columntype == 3 %>
        <%= f.select :parameter,@select_color.keys.map{|t| [t,@select_color[t]]} %>
    <% elsif @admin_setting.columntype == 4 %>
        <%= f.select :parameter,@select_graphsize.keys.map{|t| [t,@select_graphsize[t]]} %>
    <% else %>
        <%= f.text_field :parameter %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
