<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= t('menu_setting') %>&nbsp;-&nbsp;<%= t('title_edit') %></h1>
</div>

<%= render 'form' %>

<%= link_to t('title_back'), admin_settings_path,:class=>"button_link" %>


</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>