<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="admin_content">
<div id="admin_sub_content">
	
	<h1><%= t('menu_setting') %></h1><br />
	
	<table class="coder">
	  <thead>
	    <tr>
	      <th><%= t('title_setting_name') %></th>
	      <th><%= t('title_setting_parameter') %></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @admin_settings.each do |admin_setting| %>
	      <tr>
	        <td><%= link_to admin_setting.title, edit_admin_setting_path(admin_setting) %></td>
	        <% if admin_setting.name == 'graphsize' then %>
	        	<td><%= @select_graphsize.keys[admin_setting.parameter.to_i] %></td>
	        <% else %>
	        	<td><%= admin_setting.parameter %></td>
	        <% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<br />
</div>
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>