<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="admin_content">
<div id="admin_sub_content">
	
	<h1><%= t('menu_setting') %></h1>
	<h2><%= t('title_show') %></h2>

<p>
  <strong><%= t('title_setting_name') %></strong>
  <%= @admin_setting.title %>
</p>

<p>
  <strong><%= t('title_setting_parameter') %></strong>
  <% if @admin_setting.columntype == 4 then %>
  	<%= @select_graphsize[@admin_setting.parameter] %>
  <% else %>
  	<%= @admin_setting.parameter %>
  <% end %>
</p>

<%= link_to t('title_edit'), edit_admin_setting_path(@admin_setting) %> |
<%= link_to t('title_back'), admin_settings_path %>

</div>
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>