<%= render 'common/header' %>
<%= render 'common/sidebar' %>
<!-- main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= Time.now().to_s %></h1>
	<div id="dashboards">
<% for rank in 1..4 %>
    <div id="dashboard">
    	<h2><%= @graphs[rank].title %>(<%= @terms[rank]%>)</h2>
		<a href="/graphs/<%= @graphs[rank].id %>"><canvas id="<%= @graphs[rank].name %>"></canvas></a>
	</div>
	
	<script>
	var chartdata = {
	
	  "config": {
	  	"width": 300,
	  	"height": 200,
	  	"onlyChart":"yes",
	    /*"title": "title",*/
	    /*"subTitle": "subTitle",*/
	    "type": "<%= @graph_types[@graphs[rank].graph_type] %>",
	    "useVal": "<%= @h_yesno[@graphs[rank].useval] %>",
	    "useShadow": "<%= @h_yesno[@template[rank].useshadow] %>",
	    "lineWidth": <%= @graphs[rank].linewidth %>,
	    "colorSet": 
	          ["<%= @template[rank].linecolor %>","#FF9114","#3CB000","#00A8A2","#0036C0","#C328FF","#FF34C0"],
	    "bgGradient": {
	            "direction":"vertical",
	            "from":"<%= @template[rank].bgfrom %>",
	            "to":"<%= @template[rank].bgto %>"
	         },
	    "textColor": "<%= @template[rank].textcolor %>"
	  },
	
	  "data": [
	    ["<%= @graphs[rank].x %>"<%= @xdatas[rank] %>],
	    ["<%= @graphs[rank].y %>"<%= @ydatas[rank] %>]
	  ]
	};
	ccchart.init('<%= @graphs[rank].name %>', chartdata)
	</script>
	<% if rank%2 == 0 then %>
	<div class="space"></div>
	<% end %>
<% end %>
</div>
</div>
</div><!-- main content end -->
<%= render 'common/footer' %>