<%= render 'common/header' %>
<%= render 'common/sidebar' %>
<!-- main content start -->
<div id="content">
	<div id="sub_content">
	<h1><%= Time.now().strftime('%Y/%m/%d %X') %></h1>
	</div>
	<div id="dashboards">
<% index = 1 %>
<% @dashboards.each do |ddd| %>
  <% if @graphs[ddd.graph_id] %>
    <div id="dashboard">
    	<h2>
			<% if @graphs[ddd.graph_id].graph_type == 0  %>
				<i class="icon-picture"></i>
			<% else %>
				<i class="icon-bar-chart"></i>
			<% end %>
			&nbsp;<%= @graphs[ddd.graph_id].title %>:<%= @terms[ddd.graph_id] %>
		</h2>
		<a href="<%= graph_path(@graphs[ddd.graph_id].id) %>"><canvas id="<%= @graphs[ddd.graph_id].name %>"></canvas></a>
	</div>
	
	<script>
	var chartdata = {
	
	  "config": {
	  	"width": 300,
	  	"height": 200,
	  	"onlyChart":"yes",
	    "type": "<%= @graph_types[@graphs[ddd.graph_id].graph_type] %>",
	    "useVal": "<%= @h_yesno[@graphs[ddd.graph_id].useval] %>",
	    "useShadow": "<%= @h_yesno[@graphs[ddd.graph_id].useshadow] %>",
	    "lineWidth": <%= @graphs[ddd.graph_id].linewidth %>,
	    "colorSet": 
	          ["<%= @template[ddd.graph_id].linecolor %>"],
	    "bgGradient": {
	            "direction":"vertical",
	            "from":"<%= @template[ddd.graph_id].bgfrom %>",
	            "to":"<%= @template[ddd.graph_id].bgto %>"
	         },
	    "textColor": "<%= @template[ddd.graph_id].textcolor %>",
	    "useFirstToColName":false,
	    "useFirstToRowName":false,
	    "minY":<%= @graphs[ddd.graph_id].y_min %>,
	    <% if @graphs[ddd.graph_id].term == 0  %>
	    	"maxY":<%= @graphs[ddd.graph_id].y_max_time.to_i %>
	    <% elsif @graphs[ddd.graph_id].term == 1 || @graphs[ddd.graph_id].term == 2  %>
	    	"maxY":<%= @graphs[ddd.graph_id].y_max_day.to_i %>
	    <% else %>
	    	"maxY":<%= @graphs[ddd.graph_id].y_max_month.to_i %>
	    <% end %>
	  },
	
	  "data": [
	    [<%= @xdatas[ddd.graph_id] %>],
	    [<%= @ydatas[ddd.graph_id] %>]
	  ]
	};
	ccchart.init('<%= @graphs[ddd.graph_id].name %>', chartdata)
	</script>
	<% if index%$settings['dashboardnum'].to_i == 0  %>
	<div class="space"></div>
	<% end %>
	<% index += 1 %>
	<% end %>
<% end %>
</div>
</div><!-- main content end -->
<%= render 'common/footer' %>