<%= render 'common/header' %>
<%= render 'common/sidebar' %>
<!-- main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= Time.now().strftime('%Y/%m/%d %X') %></h1>
	<div id="dashboards">
<% for rank in 1..4 %>
  <% if @graphs[rank] then%>
    <div id="dashboard">
    	<h2><%= @graphs[rank].title %>:<%= @h_analysis_types[@graphs[rank].analysis_type] %></h2>
		<a href="<%= graph_path(@graphs[rank].id) %>"><canvas id="<%= @graphs[rank].name %>"></canvas></a>
	</div>
	
	<script>
	var chartdata = {
	
	  "config": {
	  	"width": 300,
	  	"height": 200,
	  	"onlyChart":"yes",
	    /*"title": "title",*/
	    /*"subTitle": "subTitle",*/
	    "type": "<%= @graph_types[@graphs[rank].graph_type] %>",
	    "useVal": "<%= @h_yesno[@graphs[rank].useval] %>",
	    "useShadow": "<%= @h_yesno[@template[rank].useshadow] %>",
	    "lineWidth": <%= @graphs[rank].linewidth %>,
	    "colorSet": 
	          ["<%= @template[rank].linecolor %>"],
	    "bgGradient": {
	            "direction":"vertical",
	            "from":"<%= @template[rank].bgfrom %>",
	            "to":"<%= @template[rank].bgto %>"
	         },
	    "textColor": "<%= @template[rank].textcolor %>",
	    "useFirstToColName":false,
	    "useFirstToRowName":false,
	    "minY":0
	  },
	
	  "data": [
	    [<%= @xdatas[rank] %>],
	    [<%= @ydatas[rank] %>]
	  ]
	};
	ccchart.init('<%= @graphs[rank].name %>', chartdata)
	</script>
	<% if rank%2 == 0 then %>
	<div class="space"></div>
	<% end %>
	<% end %>
<% end %>
</div>
</div>
</div><!-- main content end -->
<%= render 'common/footer' %>