<%= render 'common/header' %>
<div id="login">
	<%= form_tag :controller => 'login', :action => 'create' do -%>
	 
	<table>
	<tbody>
		<tr><td colspan="2"><h2 id="login_title"><%= t('login') %></h2></td></tr>
		<tr>
			<th><%= label_tag :mail, t('mail') %></th>
			<td><%= text_field_tag :mail, params[:mail] %></td>
		</tr>
		<tr>
			<th><%= label_tag :pass, t('password') %></th>
			<td><%= password_field_tag :pass , params[:pass]%></td>
		</tr>
		<% if @errormsg %>
			<tr><td colspan="2">
			<div id="error_msg"><%= t('error_login_message') %><br /></div>
			</td></tr>
		<% end %>
		<tr><td colspan="2"><div id="login_action"><%= submit_tag t('login') %></div></td></tr>
	</tbody>
	</table>
	<% end %>
	
	<p><%= link_to "forgotten password?", new_password_reset_path %></p>
	<div class="field">
	  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
	  <%= label_tag :remember_me %>
	</div>
</div>
<%= render 'common/footer' %>
