<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="admin_content">
<div id="admin_sub_content">
	<h1><%= t('menu_group') %></h1><br />

<table class="coder">
  <thead>
    <tr>
      <th><%= t('title_group_name')%></th>
      <th><%= t('title_group_title')%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_groups.each do |admin_group| %>
      <tr>
        <td><%= link_to admin_group.name, edit_admin_group_path(admin_group) %></td>
        <td><%= admin_group.title %></td>
        <td><%= link_to t('title_graph'), list_admin_groupgraph_path(admin_group) %></td>
        <td><%= link_to t('title_delete'), admin_group, method: :delete, data: { confirm: t('message_delete') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @admin_groups.length < @maxuser then %>
<%= link_to t('title_new'), new_admin_group_path %>
<% end %>
</div>
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>