<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
<div id="sub_content">
	<h1><%= t('menu_group') %>&nbsp;-&nbsp;<%= t('title_show') %></h1>
</div>


<p>
  <strong><%= t('title_group_name')%></strong>
  <%= @admin_group.name %>
</p>

<p>
  <strong><%= t('title_group_title')%></strong>
  <%= @admin_group.title %>
</p>
<br /><br />
<%= link_to t('title_back'), admin_groups_path,:class=>"button_link" %>
<%= link_to t('title_edit'), edit_admin_group_path(@admin_group),:class=>"button_link" %> 



</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>