<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="content">
	<h1><%= t('title_user') %></h1>
	<h2><%= t('title_list') %></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Mail</th>
      <th>Group</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.name %></td>
        <td><%= admin_user.title %></td>
        <td><%= admin_user.mail %></td>
        <td><%= admin_user.group %></td>
        <td><%= admin_user.admin %></td>
        <td><%= link_to 'Show', admin_user %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(admin_user) %></td>
        <td><%= link_to 'Destroy', admin_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admin_user_path %>
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>