<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="admin_content">
<div id="admin_sub_content">
	
	<h1><%= t('menu_user') %></h1>
	<h2><%= t('title_show') %></h2>

<p>
  <strong><Name:><%= t('title_user_name') %></strong>
  <%= @admin_user.name %>
</p>

<p>
  <strong><%= t('title_user_title') %></strong>
  <%= @admin_user.title %>
</p>

<p>
  <strong><%= t('title_user_mail') %></strong>
  <%= @admin_user.mail %>
</p>

<p>
  <strong><%= t('title_group_name') %></strong>
  <%= @admin_user.group.title %>
</p>

<p>
  <strong><%= t('title_user_admin') %></strong>
  <%= @admin_user.admin %>
</p>

<%= link_to t('title_edit'), edit_admin_user_path(@admin_user) %> |
<%= link_to t('title_back'), admin_users_path %>

</div>
</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>