<%= render 'admin/common/header' %>
<%= render 'admin/common/sidebar' %>
<!-- administrator main content start -->
<div id="admin_content">
	<h1><%= t('menu_group') %></h1>
	<h2><%= t('title_groupgraphs_list') %>:<%= @group.title %></h2>

<%= form_tag('/admin/groupgraphs') do |f| %>
<%= hidden_field_tag :group_id,@group.id %>
<table class="coder">
  <thead>
    <tr>
      <th><%= t('title_select') %></th>
      <th><%= t('title_graph') %></th>
    </tr>
  </thead>

  <tbody>
  	
    <% @graph.each do |g| %>
      <tr>
        <td><%= check_box 'groupgraph', g.id,{:checked => @ghash[g.id]}, 1, false %></td>
        <td><%= g.title %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<br />
<p><%= submit_tag t('title_select')%></p>
<% end %>
<br />

<%= link_to t('title_back'), admin_groups_path %>

</div><!-- administrator main content end -->
<%= render 'admin/common/footer' %>