<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true,charset:"utf-8" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Script-Type" content="text/javascript" charset="utf-8" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
